<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/5-filters.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?{{ cache_id }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/scripts/1-hbnb.js?{{ cache_id }}"></script>
</head>
<body>
<header>
    <!-- Header content -->
</header>
<div class="filters">
    <h4>Amenities</h4>
    <ul>
        <li><input type="checkbox" data-id="1" data-name="WiFi">WiFi</li>
        <li><input type="checkbox" data-id="2" data-name="Pool">Pool</li>
        <li><input type="checkbox" data-id="3" data-name="Parking">Parking</li>
        <li><input type="checkbox" data-id="4" data-name="Pet friendly">Pet friendly</li>
    </ul>
</div>
<div class="container">
    <!-- Main content -->
</div>
</body>
</html>
